on boot

# for bluetooth
	insmod /lib/modules/btlock.ko
	chmod 664 /dev/btlock
	chown bluetooth system /dev/btlock

service hciattach /system/bin/brcm_patchram_plus --enable_hci --enable_lpm --no2bytes --tosleep 50000 \
	--baudrate 3000000 --use_baudrate_for_download --patchram /system/bin/bcm4330B1.hcd \
	--scopcm=0,0,0,0,0,0,0,3,3,0  /dev/ttySAC0
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

# for bluetooth rf test.
service bt_dut_cmd /system/bin/bcm_dut
    class main
    group bluetooth net_bt_admin
    disabled
    oneshot
